@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    display: grid;
    grid-template-columns: 15% 85% ;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "a b"
        "a c";
}
/* Grid A */
.menu{
    display: flex;
    grid-area: a;
    align-items: center;
    gap: 2vw;
    background-color: #011F27;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1000;
}

.nav-burger{
    display: none;
    cursor: pointer;
    margin-top: 5vw;
}

.nav-burger div{
    height: 1vw;
    width: 9vw;
    background-color: rgb(255, 255, 255);
    margin: 1.5vw;
    transition: 0.7s;
}

.nav-active{
    transform: translateX(0%);
    transition: 1s;
           
}

/*  */
.linha1-active{
    transform: rotate(44deg);
    transition: 0.7s;  
    cursor: pointer;
}

.linha3-active{
    transform: rotate(360deg);
    transition: 0s;
    opacity: 0%;
    cursor: pointer;
}

.linha2-active{
    transform:rotate(-60deg);
    transition: 0.7s;
    transform: translateY(-1vw) rotate(135deg);
    cursor: pointer;
}
/*  */

.nav-burger {
    display: block;
    top: 5vw;
    right: 5vw;
    z-index: 1100;
}

.nav-active {
    transform: translateX(0);
    margin: 0;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 5vw;

    & span{
        display: none;
    }
    
}

.nav-links li i{
    font-size: 12vw;
}
/* Grid A */
/* Grid B */
.contain{
    padding: 3vw;
    font-family: 'Montserrat';
    grid-area: b;
}

.cabeca{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #e8e5e5;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding: 2vw;
}

.cabeca div i{
    font-size: 9vw;
}

.empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vw;
}

.persona{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2vw;
}
/* Grid B */
/* Grid C */
.dash{
    padding: 3vw;
    margin-top: 3vw;
    font-family: 'Montserrat';
    grid-area: c;
    position: relative;
    bottom: 15vw;
}

.box{
    font-family: 'Montserrat';
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e8e5e5;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding: 2vw;
}

.box .tempoReal{
    padding: 1vw;
    display: flex;
    flex-direction: column;
}

.box div .texto h1{
    font-size: 5vw;
}

.box .tempoReal .texto p{
    font-size: 3vw;
}

div .servidor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div .servidor select{
    font-family: 'Montserrat';
    font-weight: 600;
    background-color: #2C3E50;
    color: #FFFF;
    border: none;
    border-radius: 12px;
    padding: 0 4vw 0 4vw;
}
/* Parte das Dashboards */
.monitoramento{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}
/* Lado esquerdo das dash (referencia do figma) */
.esquerda{
    display: flex;
    gap: 5vw;
    flex-direction: column;
}
/* Lado direito das dash (referencia do figma) */
.direita{
    display: flex;
    gap: 5vw;
    flex-direction: column;
}

/* Estilo dos gráficos */
.chart-container-cpu{
    background: #012027;
    background: linear-gradient(270deg, #012027, #04708D);
    border-radius: 12px;
    padding: 2vw;
}

.chart-container-cpu h2{
    color: white;
    font-weight: 100;
}

.chart-container-ram, .chart-container-disco{
    background-color: #D9D9D9;
    border-radius: 12px;
    padding: 2vw;
}

.chart-container-ram h2, .chart-container-disco h2{
    color: black;
    font-weight: 100;
}

.chart-container-rede {
    background-color: #D9D9D9;
    border-radius: 12px;
    padding: 2vw;
    height: 50vw;
}

.chart-container-rede h2{
    color: black;
    font-weight: 100;
}

.chart-wrapper {
    display: flex;
    flex-direction: row;
    padding: 3vw;
    justify-content: space-between;
}

.chart-wrapper div{
    width: 30vw;
    height: 30vw;
    background: #012027;
    background: linear-gradient(270deg, #012027, #04708D);
    border-radius: 12px;
}
/* Menu que se expande */
@media only screen and (min-width: 1024px) { 

    .menu{
        
        width: 5%;
        height: 100vh;
        position: fixed;
        left: 0;
    }
    body{
        grid-template-columns: 5% 95% ;
    }

    .nav-links{
        gap: 4vh;
        width: 100%;
        display: flex;
        align-items: center;
        /* transition: all 1s; */
        & li i{
            font-size: 40px;
        }
        & span{
            display: none;
        }

        & ul{
            width: 100%;
        }

        & li{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        
    }

    .nav-links-expanded .li-active::after{
        /* display: none; */
        width: 90% !important;
        left: 0 !important;
    }

    .nav-links .li-active::after{
        width: 70%;
        position: absolute;
        content: "";
        bottom: -20%;
        left: 15%;
        border-radius: 2px;
        
        
        background-color: #007BFF;
        height: 3.5px;
    }

    .nav-burger div{
        height: 0.49vw;
        width: 2.9vw;
        background-color: rgb(255, 255, 255);
        margin: 0.5vw;
        transition: 0.7s;
    }

    .nav-burger{
        margin-top: 2vh;
    }

    .nav-links-expanded{
        /* animation: expandir 10s linear; */
        margin-left: 5px;
        & li{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1em;

            & span{
                color: #fff;
                font-family: 'Montserrat';
                font-size: 1.5vw;
                font-weight: 550;
                display: flex;
            }
        }
    }

    .menu-expand{
        width: 20%;
        display: flex;
        align-items: flex-start;
        /* padding: 20px; */

    }



    .oculta{
        display: none;
    }


}

@keyframes expandir{
    from{
        width: 5%
    }to{
        width: 20%;
    }
}

@keyframes diminui{
    from{
        width: 20%
    }to{
        width: 5%;
    }
}


#id_valor-ler, #id_valor-esc,
#id_valor-esc-disco, #id_valor-ler-disco{
    font-size: 3vw;
    text-align: center;
    position: relative;
    bottom: 15vw;
    height: 10vw;
    color: white;
}

#id_valor-ler span, #id_valor-esc span,
#id_valor-ler-disco span, #id_valor-esc-disco span{
    font-weight: 900;
    font-size: 4vw;
}

#redeChart-ler, #discoChart-ler
,#redeChart-esc, #discoChart-esc{
    position: relative;
    bottom: 5vw;
    padding: 2vw;
    z-index: 999;
}

#id_valor-disc{
    text-align: center;
    position: relative;
    bottom: 40vw;
    height: 10vw;
    color: rgb(0, 0, 0);
}

#id_valor-disc span{
    font-weight: 900;
    font-size: 10vw;
}

.tempo_atividade{
    background: #012027;
    background: linear-gradient(270deg, #012027, #04708D);
    color: white;
    padding: 5vw;
    border-radius: 12px;
    text-align: center;
}

.tempo_atividade h1{
    font-size: 6vw;
}

/* Continuar responsividade para PC */
@media (min-width:702px){

    .contain{
        padding: 1vw;
    }

    .cabeca {
        padding: 1vw;
        justify-content: space-between;
    }

    .empresa{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 2vw;
    }
    
    .lugar h3{
        display: flex;
    }

    .persona{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1vw;
    }
    
    .cabeca div i{
        font-size: 6vw;
    }    

}